<head>
    <style>
    .buttons{
        margin: 20px 10%
    }
    </style>
</head>
<div class="text-center">
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <a class="nav-link btn btn-outline-success buttons" href="/forms/create">Создать Анкету</a>
        <a class="nav-link btn btn-outline-success buttons" href="/forms/search">Искать партию</a>
    </div>
</div>
