<head>
    <style>
        .buttons {
            margin: 15px 10%
        }
    </style>
</head>
<div class="text-center navbar-collapse collapse d-sm-inline-flex">
    <a class="nav-link btn btn-outline-success buttons" type="submit" href="/">Главная страница</a>
    <a class="nav-link btn btn-outline-success buttons" type="submit" href="/forms/Create">Создать анкету</a>
    <a class="nav-link btn btn-outline-success buttons" type="submit" href="/home/Sign_In">Мои анкеты</a>
</div>