@model Test.ViewModels.ViewSearcher

<table class="table">
    <tr><td>Имя</td><td>Возраст</td><td>Контакты</td></tr>
    @foreach (var item in Model.Players)
    {
        @await Html.PartialAsync("FormList", item);
   }
</table>
