@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <p>
        <label>Имя</label><br />
        @Html.TextBox("System")
    </p>
    <p>
        <label>Возраст</label><br />
        @Html.TextBox("", "", new { type = "number" })
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
}
